header {
    // width: 1535px;
    width: 100%;
    height: 80px;
    // border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d5bdaf;
    flex-wrap: wrap;

}

.logo {
    width: 170px;
    height: 80px;
    // border: 1px solid black;
    text-align: center;
    padding-top: 15px;
    background-image: url(styleimg/logo.png);
    background-repeat: no-repeat;
    background-size: 160px 170px;
    background-position: center;

}

ul {
    width: 500px;
    height: 40px;
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
   

    li {
        list-style: none;
        display: inline-block;


    }

}

button {
    background-color: #9d6b53;
    color: #edc4b3;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 20px;
    
}

button:hover {
    background-color: #774936;
}