<!-- <app-header></app-header> -->


<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <main id="display">
        <section class="advertisment-display">
            <div class="advartisment"></div>
            <div class="image2"></div>
            <div class="image3"></div>
        </section>
        <div class="parent">
            <section class="personal-info">
                <div>
                    <label for="Firstname">Firstname</label>
                    <input type="text" formControlName="Firstname">
                    <div class="text-danger"
                        *ngIf="!registrationForm.get('Firstname')?.valid && registrationForm.get('Firstname')?.touched">
                        required field</div>
                </div>
                <div>
                    <label for="Lastname">Lastname</label>
                    <input type="text" formControlName="Lastname">
                    <div class="text-danger"
                        *ngIf="!registrationForm.get('Lastname')?.valid && registrationForm.get('Lastname')?.touched">
                        required field</div>
                </div>
                <div>
                    <label for="Phone">Phone</label>
                    <input type="text" formControlName="Phone">
                </div>
                <div>
                    <span class="selectLabel">sex</span>
                    <select formControlName="sex">
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                </div>
            </section>

            <section class="registration-details">
                <div>
                    <label for="Username">Username</label>
                    <input type="text" formControlName="Username">
                    <div class="text-danger"
                        *ngIf="!registrationForm.get('Username')?.valid && registrationForm.get('Username')?.touched">
                        required field</div>
                </div>
                <div>
                    <label for="Password">Password</label>
                    <input type="password" formControlName="Password">
                    <div class="text-danger"
                        *ngIf="!registrationForm.get('Password')?.valid && registrationForm.get('Password')?.touched">
                        required field</div>
                </div>
                <div>
                    <label for="Address">Address</label>
                    <input type="text" formControlName="Address">
                    <div class="text-danger"
                        *ngIf="!registrationForm.get('Address')?.valid && registrationForm.get('Address')?.touched">
                        required field</div>
                </div>
                <div>
                    <label for="Mail">Mail</label>
                    <input type="text" formControlName="Mail">
                    <div class="text-danger"
                        *ngIf="!registrationForm.get('Mail')?.valid && registrationForm.get('Mail')?.touched">
                        required field</div>
                    
                </div>
                <div>
<button type="submit">register</button></div>
            </section>
        </div>
        <section class="right-advartisment">
            <div class="righimage1"></div>
            <div class="righimage2"></div>
            <div class="rightimage3"></div>

        </section>
    </main>
</form>

<app-footer></app-footer>