input {
    display: flex;
    background-color: #e3d5ca;
    border: 1px solid black;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #54B435;
  
}

label {
    font-size: 20px;
    color: #54B435;
}
.selectLabel{
    color: #54B435;
}
button{
    width: 100px;
    height: 30px;
    background: linear-gradient(0.25turn, #03045e, #284b63, );    
    border-radius: 4px;
    color: #54B435;
    &:hover{
        background: linear-gradient(0.25turn, #284b63, #03045e, ); 
        
    }
}

#display {
    width: 100%;
    height: 733px;
    background-color: #ac8168;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.parent {
    width: 1100px;
    height: 699px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // background-color: #004b23;
}








.personal-info {
    width: 340px;
    height: 320px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    transition: 300ms;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.7);
    background-color:black;
    opacity: 0.8;

    &:hover {
        box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.7);
        margin-bottom: 10px;
        transition: 300ms;
    }
}

.registration-details {
    width: 340px;
    height: 320px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    transition: 300ms;
    background-color: black;
    opacity: 0.8;

    &:hover {
        box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.7);
        margin-bottom: 10px;
        transition: 300ms;
    }

}

select {
    margin-top: 35px;
    margin-left: 15px;
    font-size: 15px;
    background-color: black;
    opacity: 0.8;
    color: #54B435;
}


span {
    font-size: 25px;
    color: #004b23;
}

form {
    height: 100%;
}

.goBackToProducts {
    background-color: #9fb5a9;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    left: 300px;
    bottom: 70px;

    &:hover {
        background-color: #e3d5ca;
    }
}





























@media (max-width: 480px) {

    .background {
        width: 100%;
        height: 500px;
    }

    .personal-info {
        width: 105px;
        height: 150px;
        box-shadow: none;
    }

    .registration-details {
        width: 105px;
        height: 150px;
        box-shadow: none;

    }

    input {
        width: 90px;
        height: 15px;
      
    }

    label {
        font-size: 9px;
    }

    button {
        width: 60px;
        height: 20px;
        font-size: 10px;
        background-color: #9d6b53;
        border-radius: 4px;
        margin-top: 7px;

        &:hover {
            background-color: #774936;
        }
    }

    .selectLabel {
        font-size: 12px;
    }

    select {
        width: 50px;
        height: 20px;
        font-size: 10px;

    }

    .advartisment {
        width: 80px;
        height: 80px;
    }

    .image2 {
        width: 80px;
        height: 80px;
    }

    .righimage1 {
        width: 80px;
        height: 80px;
    }

    .righimage2 {
        width: 80px;
        height: 80px;
    }

    .rightimage3 {
        width: 80px;
        height: 80px;
    }

    .image3 {
        width: 80px;
        height: 80px;
    }

    .advertisment-display {
        height: 550px;
    }

    .right-advartisment {
        height: 550px
    }


}