.card-header {
  text-align: center;
  font-size: 35px;
  background-color:rgba(0, 48, 73, 1);
  color: rgba(185, 251, 192, 1);  
}

.card-body {
  height: 589px;
  background-color:rgba(0, 48, 73, 1);
  display: flex;
  align-items: center;
  justify-content: center;

}

main {
  width: 740px;
  height: 320px;
  // background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.product_details {
  font-size: 25px;
  height: 320px;

  width: 400px;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(185, 251, 192, 1);
}

button {
  position: absolute;
}

img {
  box-shadow: 10px 10px 120px 20px #000000;
  border: 1px solid rgba(185, 251, 192, 1);
  border-radius: 50%;
  
  
}