.card{
    // margin-top: 50px;
    background-color: #e3d5ca;
}
th {
    color: #004b23;
    text-decoration: underline;
}
td{
    a{
        text-decoration: none;
        // color:#2a9d8f ;
    }
}
thead{
    tr{
        th{
            text-decoration: none;
        }
    }
}
input{
    background-color: #e3d5ca ;
    margin-left: 20px;
}
.table{
    margin-top: 100px;
}
.filter{
position: relative;
top: 40px;
left: 600px;
    // margin-left: 600px;
}
button{
     background-color: #9d6b53;;
}