<app-header></app-header>
<div class='card'>
    <div class='card-header'>{{componentTitle}}</div>
    <div class='card-body'>
        <div class='row'>
            <div class="filter">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <label>Search:</label>
                <input type='text' [(ngModel)]="listFilter">
            </div>
        </div>
        <div class='table'>
            <table class='table' *ngIf='products.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)="hideImage()">
                                {{showImage ? 'hide' : 'show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts">
                        <td>
                            <img *ngIf="showImage" [src]='product.imageUrl' [title]='product.productName'
                                [style.width.px]="imageWidth" [style.margin.px]="imageMargin"
                                [style.height.px]="imageHeight">
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.productId]">
                                {{product.productName}}
                            </a>
                        </td>
                        <td>{{product.productCode | lowercase | convertToSpaces: '-'}}</td>
                        <td>{{product.releaseDate }}</td>
                        <td>{{product.price | currency}}</td>
                        <td>
                            <app-star [rating]='product.starRating' (ratingClicked)="onRatingClicked($event)">
                            </app-star>
                        </td>
                        <td><button (click)="addToCart(product)">add</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>