img{
 
  box-shadow: 0 1rem 3rem rgba(black, .175);
//   width: 100px;
//   height: 100px;

}
app-star{
    display: inline-block;
    position: relative;
    top: 13px;
    left: 8px;
}
.description{
    color: #583101;
    margin-left: 5px;
}
.button{ 
  padding-top: 15px;
    

}
.card-body{
    width: 800px;
    height: 600px;
    border: 1px solid #004b23;
    border-radius: 15px;
    margin-left: 300px;
    margin-top: 40px;
    box-shadow: 0 1rem 3rem rgba(black, .175);
    display: flex;
    // justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
    left: 80px;
    line-height: 60px;
    font-size: 30px;
    font-weight: 600;
    color: #583101;

}

