.background {
  width: 100%;
  height: 713px;
  // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX8r4szsQbQ6x1kK5SUJfJuLPPcpXv97jgLA&usqp=CAU);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-image: url(https://i.pinimg.com/236x/e8/8b/50/e88b50b6a4d3dec3caae832a6d9f60e3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #e3d5ca;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome {
  background: linear-gradient(0.25turn, #ac8168, #d5bdaf);
  width: 50%;
  height: 450px;
  text-align: center;
}

h1 {
  font-family: 'Merriweather', serif;
  color: #583101;
  font-size: 60px;
  margin-top: 15px;
}

.username {
  margin-top: 50px;
  label{
    margin-right: 18px;
  }

  input {
    background-color: #e3d5ca ;
    border: none;
  }
}

.password {
  margin-top: 20px;
  label{
    margin-right: 20px;
  }

  input {
    background-color: #e3d5ca;
    border: none;
    margin-left: 2px;
  }
}

button {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #9d6b53;
  color: #edc4b3;
  border: none;
  border-radius: 5px;

}


button:hover {
  background-color: #774936;
}

b{
  color: #583101;
}
.aditional{
  position: relative;
  right: 230px;
  top: 50px;
}
.link{
  cursor: pointer;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.text-danger{
  padding-top: 40px;
}