.background {
  width: 100%;
  height: 713px;

  background-color: #22223B;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  position: relative;
}

h1 {
  position: absolute;
  left: 24.5%;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 96px;
  text-decoration: dotted;
  text-shadow: 12px 10px 4px rgba(0, 0, 0, 0.25);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #84A98C;
}

#welcome {

  position: absolute;
  left: 20%;
  top: 20%;

  opacity: 0.75;
  // box-sizing: border-box;
  width: 913px;
  height: 500px;
  background: linear-gradient(180deg, #2F3E46 0%, #22223B 100%);
  border: 3px solid #006D77;
  box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  // .opacity{
  //   width: 50%;
  //   height: 450px;
  //   background-color: #003459;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
}

input {
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  color: #54B435;
  background-color: black;
  opacity: 0.8;
  background: transparent;
  transition: border-color 0.2s;
  background: linear-gradient(0.25turn, #003459, #007ea7);
  width: 250px;
  height: 40px;

}

.usernameInput {
  position: absolute;
  left: 36%;
  top: 18%;

}

.passwordInput {
  position: absolute;
  left: 36%;
  top: 32%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

::placeholder {
  color: #84A98C;
}

.LogIn {
  // background-color: #52b788;
  color: #edc4b3;
  border: none;
  border-radius: 20px;
  position: absolute;
  top: 260px;
  left: 44%;
  width: 100px;
  height: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #006D77 0%, #22223B 100%);
  border: 1px solid #006D77;
  transition: 2s;

  &:hover {
    background: radial-gradient(50% 50% at 50% 50%, #003049 83.12%, #006D77 100%);
  }
}

span {
  position: absolute;
  top: 450px;
  left: 80px;
  color: white;
}


.link {
  cursor: pointer;
}



@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  b {
    font-size: 12px;
  }

  input {
    width: 160px;
    height: 20px;
  }

  .aditional {
    position: relative;
    left: 1px;
  }

  ::placeholder {
    font-size: 12px;
  }
}